html, body {
  padding: 0;
  margin: 0;
  height: 100%
}
header {
  background-color: #6BBAEC;
  color: white;
  padding: 16px;
  text-align: center;
  height: 20%;
}
article {
  background-color: #BCC4DB;
  padding-left: 20%;
  padding-right: 20%;
  height: 70%;
}
article h2 {
  text-align: center;
}
footer {
  background-color: #7880B5;
  color: white;
  text-align: center;
  height: 10%;
}
