* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%
}
header {
  background-color: #6BBAEC;
  color: white;
  padding: 16px;
  text-align: center;
  height: 20%;
}
article {
  background-color: #BCC4DB;
  text-align: center;
}
footer {
  background-color: #7880B5;
  color: white;
  text-align: center;
  min-height: 10%;
  padding: 16px;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.part-divider {
  border: 2px solid black;
}
.section-divider {
  border: 1px solid black;
}
